body {
    background-image: url("/backgrounds/main.png");
    background-color: rgba(71, 79, 87, 0.7); 
    background-blend-mode: darken;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Iceberg", sans-serif;
    font-size: 1.5em;
}

#userAvatarContainer {
    padding: 10px;
}

#userAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin-bottom: 40px;
}

.mainMenuContainer {
    padding: 0 10px 10px 10px;
}
