body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#userAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin-bottom: 40px;
}
